<?xml version="1.0" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN"
                              "XHTML1-f.dtd" >
        <html xmlns="http://www.w3.org/TR/1999/REC-html-in-xml"
              xml:lang="en" lang="en" >
<head>
<title rsf:id="frame-title">Darwin Online - Side-by-side Text and Image View</title>
</head>


<frameset rows="95, *">
	<frame id="nav-frame" name="navframe" src="side-head.html" rsf:id="nav-frame"/>

<frameset cols="50%, 50%">
	<frame id="txt-frame" src="dummy/1843_remarks_F1662.html#pageseq-1" rsf:id="txt-frame"/>
	<frame id="img-frame" src="dummy/1843_remarks_F1662_1.png" rsf:id="img-frame"/>
</frameset></frameset><noframes></noframes>

</html>