<head>
<link href="level1_times.css" rel="stylesheet" type="text/css" />
<style type="text/css">
 .hidden {
display: none;
}
.center 
{ text-align: center; }
body {
margin: 10px;
}
form {
margin: 0px;
}
</style>
<script type="text/javascript">

var ns4 = (document.layers);
var ie4 = (document.all && !document.getElementById);
var ie5 = (document.all && document.getElementById);
var ns6 = (!document.all && document.getElementById);

function getElementGlob(dokkument, id) {
   var obj;
   if(ns4) obj = dokkument.layers[id];
   else if(ie4) obj = dokkument.all[id];
     else if(ie5 || ns6) obj = dokkument.getElementById(id);
   return obj;
}

function getElement(id) {
// alert ("gE" + document + " " + id + " ns4 " + ns4);
//   var obj;
//   if(ns4) obj = document.layers[id];
//   else if(ie4) obj = document.all[id];
//     else if(ie5 || ns6) obj = document.getElementById(id);
//   alert ("Returning " + obj);
//   return obj;

  return getElementGlob(document, id);
  }

function getValue(id) {
  return ns4? getElement(id).document : getElement(id).firstChild.nodeValue;
}

function getSelectedPage() {
  return Number(getElement("page-select").selectedIndex + 1);
}

function updatePage() {
  var currentpage = Number(getPage());
  getElement("back-button").disabled = (currentpage <= 1);
  if (currentpage != getSelectedPage()) {
    //getElement("page-select").options[currentpage - 1].selected = true;
    getElement("page-select").selectedIndex = currentpage - 1;
    }
  var lastpage = Number(getValue("last-page"));
  getElement("next-button").disabled = (currentpage >= lastpage);
  var texttarget=getValue("text-target::"+currentpage);
  var imagetarget=getValue("image-target::"+currentpage);

  var textframe = getElementGlob(window.parent.document, "txt-frame");
  textframe.src = texttarget;

  var imageframe = getElementGlob(window.parent.document, "img-frame");
  imageframe.src = imagetarget;
}

function setPage(num) {
  if (num <= 1) num = 1;
  var lastpage = Number(getValue("last-page"));
  if (num >= lastpage) num = lastpage;
  var currentpage = Number(getPage());
  if (currentpage == num) return;

  getElement("current-page").firstChild.nodeValue = num;
  updatePage();
}
function getPage() {
  return getValue("current-page");
}
function pageNext() {
  page = getPage();
  setPage(Number(getPage()) + 1);
}
function pageBack() {
  page = getPage();
  setPage(Number(getPage()) - 1);
}
function onPageSelect() {
  var selected = getElement("page-select").selectedIndex;
  setPage(selected + 1);
}
</script>
<title>Forms for navigation</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body onload="updatePage()">
<div class="hidden">
<div rsf:id="text-target:" id="text-target::1">dummy/1843_remarks_F1662.html#pageseq-1</div>
<div rsf:id="text-target:" id="text-target::2">dummy/1843_remarks_F1662.html#pageseq-2</div>
<div rsf:id="text-target:" id="text-target::3">dummy/1843_remarks_F1662.html#pageseq-3</div>
<div rsf:id="text-target:" id="text-target::4">dummy/1843_remarks_F1662.html#pageseq-4</div>
<div rsf:id="image-target:" id="image-target::1">dummy/1843_remarks_F1662_1.png</div>
<div rsf:id="image-target:" id="image-target::2">dummy/1843_remarks_F1662_2.png</div>
<div rsf:id="image-target:" id="image-target::3">dummy/1843_remarks_F1662_3.png</div>
<div rsf:id="image-target:" id="image-target::4">dummy/1843_remarks_F1662_4.png</div>
<div rsf:id="current-page" id="current-page">1</div>
<div rsf:id="last-page" id="last-page">4</div>
</div>
<form name="form" rsf:id="basic-form">
<div class="center">
<img src="title8.jpg" width="734" height="43" />
</div>
<div class="center">
<input type="button" id="back-button" value=" < Back" onclick="pageBack()" />
<select rsf:id="page-select" id="page-select" onChange="onPageSelect()">
<option value="1" selected>page 47</option>
<option value="2">page 48</option>
<option value="3">page 49</option>
<option value="4">page 50</option>
</select>
<input type="button" id="next-button" value="Next >" onclick="pageNext()" />
</div>
</div>
</form>
</body>
</html>
